		<div class="header_bg">
			<h2> Branch List </h2>
			
		</div>
		<div class="branch_button">
		
		<img src="../images/search.png" width="153" height="35" border="none"/>
	   <a href="divisions/new.html">
		<img src="../images/addbutton.png" width="128" height="40" border="none"/></a>
		
		<a href="divisions/edit.html">
		<img src="../images/editbutton.png" width="128" height="39" border="none"/>
		</a></div>
		<div class="branch_text"> <a href="default.asp">Advanced Search</a></div>


<table class="index_box">
  <tr>
    <th class="maintitle user_radio bg_listholder"></th>
    <th class="maintitle bg_listholder">ID</th>
    <th class="maintitle bg_listholder">Name</th>
    <th class="maintitle bg_listholder">Address</th>
    <th class="maintitle bg_listholder">Phone Number</th>
    <th class="maintitle bg_listholder">Status</th>
  </tr>

<% @divisions.each do |division| %>
  <tr class="<%= cycle('title', 'bg_grey') %> ">
    <td class="user_radio"><input type="radio"></td>
    <td class="branch_id" id="bg_listholder"><%= division.id %></td>
    <td class="branch_name" id="bg_listholder"><%= division.name %></td>
    <td class="branch_address" id="bg_listholder"><%= division.address %></td>
    <td class="branch_number" id="bg_listholder"><%= division.phonenumber %></td>
    <% if division.active == false %>
				<td class="user_status" id="bg_listholder"><img src="../images/tick.png" width="31" height="34"/></li>
			<% elsif %>
				<td class="user_status" id="bg_listholder"><img src="../images/untick.png" width="31" height="34"/></li>
   <% end %>
  </tr>
<% end %>
</table>
