<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd"> 

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <title>Branch List</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

	<div class="header">
	
		<div class="logo">
			<a href="head_control_panel.html"><img src="../images/logo.png"  width="305" height="126" border="none"/></a>   
		</div>
		<div class="menu_holder">
			
			<div class="logged_user"> Welcome Admin <span><a href="default.asp"><img src="../images/logout.png" width="24" height="23" border="none"/><b> Logout</b></a>  
			</span>
			</div>
			<div class="date">
			<%= Time.now %>				
			</div>
			<ul class="menu">
			
			<b>
			<li><a href="usermanagement.html">System</a></li>
			<li><a href="branch_list.html">Branches</a></li>
			<li><a href="employee_management.html">Employees</a></li>
			<li><a href="treatment_management.html">Treatments</a></li>
			<li><a href="product_management.html">Stock</a></li>
			<li><a href="#">Reports</a></li>
			</b>
			
			</ul>
		</div>
		
	</div>
	<div class="box">
	<%= yield %>
	</div> 
</div>
<div class="footer">
	Copyright &copy; 2012 <b>CDMS</b>. All rights reserved.
</div>	
	

</body>
</html>
